  body {  
    line-height:1.5;
    font-family:var(--font-area);
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-shadow-colored:  0 0 #0000; 
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-shadow-colored:  0 0 #0000; 
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-shadow-colored:  0 0 #0000; 
    --tw-bg-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-shadow:  0 1px 2px 0 rgb(0 0 0 / .05);  
    --tw-shadow-colored:  0 1px 2px 0 var(--tw-shadow-color);  
    --tw-shadow-color:  rgb(115 115 115 / .2);  
    --tw-shadow:  var(--tw-shadow-colored); 
    --tw-text-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-space-y-reverse:  0;  
    --tw-text-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-space-x-reverse:  0;  
} 

* { 
    box-sizing: border-box; 
    border-width: 0; 
    border-style: solid; 
    border-color: #e5e7eb;
} 

* { 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
    --tw-shadow-colored: 0 0 #0000;
} 

html { 
    line-height: 1.5; 
    -webkit-text-size-adjust: 100%; 
    -moz-tab-size: 4; 
    -o-tab-size: 4; 
    tab-size: 4; 
    font-family: var(--font-area); 
    font-feature-settings: normal; 
    font-variation-settings: normal; 
    -webkit-tap-highlight-color: transparent;
} 

html { 
    scroll-behavior: smooth; 
    font-display: swap;
} 

:root { 
    color-scheme: light; 
    --theme-text: 203deg 11% 15%; 
} 

:root { 
    --font-editorial: Editorial_New, '_font_fallback_1207158003599', serif;
} 

:root { 
    --font-area: Area_Normal, '_font_fallback_571829185650', sans-serif;
} 

body { 
    margin: 0; 
    line-height: inherit;
} 

body { 
    font-size: .875rem; 
    line-height: 1.25rem; 
    font-weight: 800;
} 

.rel-gly { 
    position: relative;
} 

.fle-vdn { 
    display: flex;
} 

.h-4ph { 
    height: 100%;
} 

.min-h-bgq { 
    min-height: 100vh;
} 

.w-lmt { 
    width: 100%;
} 

.col-gg1 { 
    flex-direction: column;
} 

.item-j7t { 
    align-items: center;
} 

.ant-e8o { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

*,:before,:after { 
    box-sizing: border-box; 
    border-width: 0; 
    border-style: solid; 
    border-color: #e5e7eb;
} 

*,:before,:after { 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
    --tw-shadow-colored: 0 0 #0000;
} 

:backdrop { 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
    --tw-shadow-colored: 0 0 #0000;
} 

:selection { 
    color: #fff; 
    --tw-bg-opacity: 1; 
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
} 

.px-3p2 { 
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
} 

.py-9xd { 
    padding-top: .25rem; 
    padding-bottom: .25rem;
} 

@media (min-width: 640px){ 
  .item-hok { 
    align-items: center;
  } 

  .smjustify-p5p { 
    justify-content: center;
  } 
}     

astro-island { 
    display: contents;
} 

.flex-a15 { 
    flex: 1 1 0%;
} 

.justify-tv5 { 
    justify-content: space-between;
} 

.overflow-y-j5r { 
    overflow-y: auto;
} 

.bg-maa { 
    --tw-bg-opacity: 1; 
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
} 

.px-hy1 { 
    padding-left: 2rem; 
    padding-right: 2rem;
} 

@media (min-width: 1024px){ 
  .lgmax-w-screen-hoo { 
    max-width: 100%;
  } 
}     

.astro-route-z3l { 
    position: absolute; 
    left: 0; 
    top: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    overflow: hidden; 
    white-space: nowrap; 
    width: 1px; 
    height: 1px;
} 

canvas { 
    display: block; 
    vertical-align: middle;
} 

.row-i4v { 
    flex-direction: row;
} 

button { 
    font-family: inherit; 
    font-feature-settings: inherit; 
    font-variation-settings: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    letter-spacing: inherit; 
    color: inherit; 
    margin: 0; 
    padding: 0;
} 

button { 
    text-transform: none;
} 

button { 
    -webkit-appearance: button; 
    background-color: transparent; 
    background-image: none;
} 

button { 
    cursor: pointer;
} 

.abs-bry { 
    position: absolute;
} 

.right-hy3 { 
    right: 2rem;
} 

.top-\[18px\] { 
    top: 18px;
} 

.h-\[32px\] { 
    height: 32px;
} 

.cursor-toi { 
    cursor: pointer;
} 

.gap-x-wdq { 
    -moz-column-gap: .5rem; 
    column-gap: .5rem;
} 

.rounded-g9v { 
    border-radius: 9999px;
} 

.bg-joc { 
    --tw-bg-opacity: 1; 
    background-color: rgb(252 82 0 / var(--tw-bg-opacity));
} 

.px-k7c { 
    padding-left: .75rem; 
    padding-right: .75rem;
} 

.text-kxx { 
    font-size: .75rem; 
    line-height: 1rem;
} 

.font-8ld { 
    font-weight: 700;
} 

.leading-xc2 { 
    line-height: 1;
} 

.text-qyx { 
    --tw-text-opacity: 1; 
    color: rgb(255 255 255 / var(--tw-text-opacity));
} 

.shadow-8wd { 
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05); 
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color); 
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
} 

.shadow-neutral-500\/20 { 
    --tw-shadow-color: rgb(115 115 115 / .2); 
    --tw-shadow: var(--tw-shadow-colored);
} 

.tra-nhe { 
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter; 
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter; 
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter; 
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
    transition-duration: .15s;
} 

.mx-fnt { 
    margin-left: auto; 
    margin-right: auto;
} 

.mb-lkv { 
    margin-bottom: 2rem;
} 

.mt-ra8 { 
    margin-top: 6rem;
} 

.max-w-wwe { 
    max-width: 32rem;
} 

.mt-j6r { 
    margin-top: 2rem;
} 

.item-krw { 
    align-items: flex-start;
} 

.justify-n69 { 
    justify-content: center;
} 

.gap-y-gqr { 
    row-gap: .5rem;
} 

.self-g75 { 
    align-self: flex-end;
} 

.justify-self-xf8 { 
    justify-self: end;
} 

.border-1bp { 
    border-top-width: 1px;
} 

.border-gray-lqm { 
    border-color: #f3f4f6;
} 

.pb-2o8 { 
    padding-bottom: 3rem;
} 

.pt-cma { 
    padding-top: 3rem;
} 

.align-mks { 
    vertical-align: top;
} 

.font-l3n { 
    font-weight: 400;
} 

.text-c78 { 
    --tw-text-opacity: 1; 
    color: rgb(75 85 99 / var(--tw-text-opacity));
} 

@media (min-width: 640px){ 
  .row-pv7 { 
    flex-direction: row;
  } 

  .smjustify-hwx { 
    justify-content: space-between;
  } 

  .text-jog { 
    font-size: .75rem; 
    line-height: 1rem;
  } 
}     

.mt-zak { 
    margin-top: 1rem;
} 

.text-f6o { 
    font-size: .875rem; 
    line-height: 1.25rem;
} 

.font-224 { 
    font-weight: 500;
} 

.top-\[0\.5px\] { 
    top: .5px;
} 

.mb-x7r { 
    margin-bottom: 4rem;
} 

.max-w-np8 { 
    max-width: 24rem;
} 

@media (min-width: 640px){ 
  .smgap-x-61k { 
    -moz-column-gap: 0px; 
    column-gap: 0px;
  } 
}     

h1 { 
    font-size: inherit; 
    font-weight: inherit;
} 

h1 { 
    margin: 0;
} 

.mb-w5k { 
    margin-bottom: 2.5rem;
} 

.font-ho1 { 
    font-family: var(--font-editorial);
} 

.text-td5 { 
    font-size: 4.5rem; 
    line-height: 1;
} 

.font-pcn { 
    font-weight: 300;
} 

.mb-zha { 
    margin-bottom: 3rem;
} 

.text-ocj { 
    text-wrap: pretty;
} 

.text-6ao { 
    --tw-text-opacity: 1; 
    color: rgb(0 0 0 / var(--tw-text-opacity));
} 

p { 
    margin: 0;
} 

.text-fd6 { 
    --tw-text-opacity: 1; 
    color: rgb(107 114 128 / var(--tw-text-opacity));
} 

.space-y-blr > :not([hidden]) ~ :not([hidden])  { 
    --tw-space-y-reverse: 0; 
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse))); 
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
} 

.me-1to { 
    margin-inline-end: 0px;
} 

a { 
    color: inherit; 
    text-decoration: inherit;
} 

.px-s18 { 
    padding-left: 1rem; 
    padding-right: 1rem;
} 

.py-zcy { 
    padding-top: .5rem; 
    padding-bottom: .5rem;
} 

@media (min-width: 640px){ 
  .smpx-ako { 
    padding-left: .5rem; 
    padding-right: .5rem;
  } 

  .smpy-hhy { 
    padding-top: 0; 
    padding-bottom: 0;
  } 

  .text-gn6:hover { 
    --tw-text-opacity: 1; 
    color: hsl(var(--theme-text) / var(--tw-text-opacity));
  } 

  .sm-s23:hover { 
    text-decoration-line: underline;
  } 
}     

.block-fhc { 
    display: inline-block;
} 

.rounded-nq6 { 
    border-radius: .375rem;
} 

.p-7q1 { 
    padding: .5rem;
} 

.pt-\[0\.6rem\] { 
    padding-top: .6rem;
} 

.transition-oj7 { 
    transition-property: all; 
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
    transition-duration: .15s;
} 

.hoverbg-neutral-sdz:hover { 
    --tw-bg-opacity: 1; 
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
} 

h3 { 
    font-size: inherit; 
    font-weight: inherit;
} 

h3 { 
    margin: 0;
} 

.mb-n7c { 
    margin-bottom: 1rem;
} 

.text-mft { 
    font-size: 1rem; 
    line-height: 1.5rem;
} 

.font-m4m { 
    font-weight: 800;
} 

.leading-yiz { 
    line-height: 1.75rem;
} 

.z-gpf { 
    z-index: 10;
} 

.inline-dbe { 
    display: inline-flex;
} 

.border-xx7 { 
    border-width: 0px;
} 

.bg-blue-p2g { 
    --tw-bg-opacity: 1; 
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
} 

.leading-384 { 
    line-height: 1.5;
} 

.no-hf6 { 
    text-decoration-line: none;
} 

.hoverbg-blue-6gy:hover { 
    --tw-bg-opacity: 1; 
    background-color: rgb(30 64 175 / var(--tw-bg-opacity));
} 

.text-3lo { 
    --tw-text-opacity: 1; 
    color: rgb(37 99 235 / var(--tw-text-opacity));
} 

.top-\[1px\] { 
    top: 1px;
} 

.align-xz5 { 
    vertical-align: baseline;
} 

svg { 
    display: block; 
    vertical-align: middle;
} 

.mb-\[1px\] { 
    margin-bottom: 1px;
} 

.ml-2 { 
    margin-left: .5rem;
} 

.w-4 { 
    width: 1rem;
} 

.opacity-50 { 
    opacity: .5;
} 

.transition-transform { 
    transition-property: transform; 
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
    transition-duration: .15s;
} 

.duration-500 { 
    transition-duration: .5s;
} 

.will-change-transform { 
    will-change: transform;
} 

.space-x-9lm > :not([hidden]) ~ :not([hidden])  { 
    --tw-space-x-reverse: 0; 
    margin-right: calc(.5rem * var(--tw-space-x-reverse)); 
    margin-left: calc(.5rem * calc(1 - var(--tw-space-x-reverse)));
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-hPP8O.style-hPP8O {  
   display: flex;  
}  
#style-hUSQg.style-hUSQg {  
   top: 18px;  
    left: 990px;  
    height: 0px;  
    width: 0px;  
}  
#style-qKsLm.style-qKsLm {  
   top: 18px;  
    left: 1041px;  
    height: 0px;  
    width: 0px;  
}  
#style-YnvND.style-YnvND {  
   top: 50px;  
    left: 990px;  
    height: 0px;  
    width: 0px;  
}  
#style-5RLHp.style-5RLHp {  
   top: 18px;  
    left: 988px;  
    height: 0px;  
    width: 0px;  
}  
#style-d6Nah.style-d6Nah {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-zVABD.style-zVABD {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-LRr6y.style-LRr6y {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-fL6Ew.style-fL6Ew {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-jlmbg.style-jlmbg {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-pki.style-3MmvF {  
   left: 1762px;  
    top: 0px;  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#style-ADD7X.style-ADD7X {  
   display: flex;  
}  
#style-6Uqco.style-6Uqco {  
   top: 18px;  
    left: 990px;  
    height: 0px;  
    width: 0px;  
}  
#style-LOc8I.style-LOc8I {  
   top: 18px;  
    left: 1041px;  
    height: 0px;  
    width: 0px;  
}  
#style-nw38a.style-nw38a {  
   top: 50px;  
    left: 990px;  
    height: 0px;  
    width: 0px;  
}  
#style-Fi5GV.style-Fi5GV {  
   top: 18px;  
    left: 988px;  
    height: 0px;  
    width: 0px;  
}  
#style-LxgWR.style-LxgWR {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-bwqDg.style-bwqDg {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-KRpZ2.style-KRpZ2 {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-SbfUt.style-SbfUt {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-MxVoD.style-MxVoD {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-fsh.style-36HZj {  
   left: 1762px;  
    top: 0px;  
}  
