  body {  
    line-height:1.5;
    font-family:var(--font-area);
  }  
body { 
/* CSS Variables that may have been missed get put on body */ 
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-shadow-colored:  0 0 #0000; 
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-shadow-colored:  0 0 #0000; 
    --tw-translate-x:  0;  
    --tw-translate-y:  0;  
    --tw-rotate:  0;  
    --tw-skew-x:  0;  
    --tw-skew-y:  0;  
    --tw-scale-x:  1;  
    --tw-scale-y:  1;  
    --tw-ring-offset-shadow:  0 0 #0000;  
    --tw-ring-shadow:  0 0 #0000;  
    --tw-shadow:  0 0 #0000;  
    --tw-shadow-colored:  0 0 #0000; 
    --tw-bg-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-shadow:  0 1px 2px 0 rgb(0 0 0 / .05);  
    --tw-shadow-colored:  0 1px 2px 0 var(--tw-shadow-color);  
    --tw-shadow-color:  rgb(115 115 115 / .2);  
    --tw-shadow:  var(--tw-shadow-colored); 
    --tw-text-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-text-opacity:  1;  
    --tw-space-y-reverse:  0;  
    --tw-text-opacity:  1;  
    --tw-bg-opacity:  1;  
    --tw-backdrop-blur:  blur(4px);  
    --tw-rotate:  45deg;  
    --tw-rotate:  45deg;  
} 

* { 
    box-sizing: border-box; 
    border-width: 0; 
    border-style: solid; 
    border-color: #e5e7eb;
} 

* { 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
    --tw-shadow-colored: 0 0 #0000;
} 

html { 
    line-height: 1.5; 
    -webkit-text-size-adjust: 100%; 
    -moz-tab-size: 4; 
    -o-tab-size: 4; 
    tab-size: 4; 
    font-family: var(--font-area); 
    font-feature-settings: normal; 
    font-variation-settings: normal; 
    -webkit-tap-highlight-color: transparent;
} 

html { 
    scroll-behavior: smooth; 
    font-display: swap;
} 

:root { 
    color-scheme: light; 
    --theme-text: 203deg 11% 15%; 
} 

:root { 
    --font-editorial: Editorial_New, '_font_fallback_1219160004926', serif;
} 

:root { 
    --font-area: Area_Normal, '_font_fallback_851354635059', sans-serif;
} 

body { 
    margin: 0; 
    line-height: inherit;
} 

body { 
    font-size: .875rem; 
    line-height: 1.25rem; 
    font-weight: 500;
} 

.rel-okj { 
    position: relative;
} 

.fle-169 { 
    display: flex;
} 

.h-s3v { 
    height: 100%;
} 

.min-h-3hd { 
    min-height: 100vh;
} 

.w-9xa { 
    width: 100%;
} 

.col-apn { 
    flex-direction: column;
} 

.item-c24 { 
    align-items: center;
} 

.ant-jlr { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
} 

*,:before,:after { 
    box-sizing: border-box; 
    border-width: 0; 
    border-style: solid; 
    border-color: #e5e7eb;
} 

*,:before,:after { 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
    --tw-shadow-colored: 0 0 #0000;
} 

:backdrop { 
    --tw-translate-x: 0; 
    --tw-translate-y: 0; 
    --tw-rotate: 0; 
    --tw-skew-x: 0; 
    --tw-skew-y: 0; 
    --tw-scale-x: 1; 
    --tw-scale-y: 1; 
    --tw-ring-offset-shadow: 0 0 #0000; 
    --tw-ring-shadow: 0 0 #0000; 
    --tw-shadow: 0 0 #0000; 
    --tw-shadow-colored: 0 0 #0000;
} 

:selection { 
    color: #fff; 
    --tw-bg-opacity: 1; 
    background-color: rgb(37 99 235 / var(--tw-bg-opacity));
} 

.px-dxs { 
    padding-left: 1.5rem; 
    padding-right: 1.5rem;
} 

.py-4py { 
    padding-top: .25rem; 
    padding-bottom: .25rem;
} 

@media (min-width: 640px){ 
  .item-ib8 { 
    align-items: center;
  } 

  .smjustify-15o { 
    justify-content: center;
  } 
}     

astro-island { 
    display: contents;
} 

.flex-p92 { 
    flex: 1 1 0%;
} 

.justify-obp { 
    justify-content: space-between;
} 

.overflow-y-5ro { 
    overflow-y: auto;
} 

.bg-o3a { 
    --tw-bg-opacity: 1; 
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
} 

.px-hiy { 
    padding-left: 2rem; 
    padding-right: 2rem;
} 

@media (min-width: 1024px){ 
  .lgmax-w-screen-xrl { 
    max-width: 100%;
  } 
}     

.astro-route-pkb { 
    position: absolute; 
    left: 0; 
    top: 0; 
    clip: rect(0 0 0 0); 
    clip-path: inset(50%); 
    overflow: hidden; 
    white-space: nowrap; 
    width: 1px; 
    height: 1px;
} 

canvas { 
    display: block; 
    vertical-align: middle;
} 

.row-e3t { 
    flex-direction: row;
} 

button { 
    font-family: inherit; 
    font-feature-settings: inherit; 
    font-variation-settings: inherit; 
    font-size: 100%; 
    font-weight: inherit; 
    line-height: inherit; 
    letter-spacing: inherit; 
    color: inherit; 
    margin: 0; 
    padding: 0;
} 

button { 
    text-transform: none;
} 

button { 
    -webkit-appearance: button; 
    background-color: transparent; 
    background-image: none;
} 

button { 
    cursor: pointer;
} 

.abs-z7d { 
    position: absolute;
} 

.right-woo { 
    right: 2rem;
} 

.top-\[18px\] { 
    top: 18px;
} 

.h-\[32px\] { 
    height: 32px;
} 

.cursor-ocy { 
    cursor: pointer;
} 

.gap-x-ksr { 
    -moz-column-gap: .5rem; 
    column-gap: .5rem;
} 

.rounded-awf { 
    border-radius: 9999px;
} 

.bg-h3d { 
    --tw-bg-opacity: 1; 
    background-color: rgb(252 82 0 / var(--tw-bg-opacity));
} 

.px-zfq { 
    padding-left: .75rem; 
    padding-right: .75rem;
} 

.text-3rd { 
    font-size: .75rem; 
    line-height: 1rem;
} 

.font-tn9 { 
    font-weight: 700;
} 

.leading-9bf { 
    line-height: 1;
} 

.text-86a { 
    --tw-text-opacity: 1; 
    color: rgb(255 255 255 / var(--tw-text-opacity));
} 

.shadow-8c1 { 
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05); 
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color); 
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
} 

.shadow-neutral-500\/20 { 
    --tw-shadow-color: rgb(115 115 115 / .2); 
    --tw-shadow: var(--tw-shadow-colored);
} 

.tra-pi9 { 
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,-webkit-backdrop-filter; 
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter; 
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter; 
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
    transition-duration: .15s;
} 

.mx-g9y { 
    margin-left: auto; 
    margin-right: auto;
} 

.mb-9h8 { 
    margin-bottom: 2rem;
} 

.mt-1pa { 
    margin-top: 6rem;
} 

.mt-x1g { 
    margin-top: 2rem;
} 

.item-mmc { 
    align-items: flex-start;
} 

.justify-877 { 
    justify-content: center;
} 

.gap-y-5i4 { 
    row-gap: .5rem;
} 

.self-cys { 
    align-self: flex-end;
} 

.justify-self-g7o { 
    justify-self: end;
} 

.border-4fr { 
    border-top-width: 1px;
} 

.border-gray-qsx { 
    border-color: #f3f4f6;
} 

.pb-ahw { 
    padding-bottom: 3rem;
} 

.pt-lcv { 
    padding-top: 3rem;
} 

.align-y6f { 
    vertical-align: top;
} 

.font-hx3 { 
    font-weight: 400;
} 

.text-we5 { 
    --tw-text-opacity: 1; 
    color: rgb(75 85 99 / var(--tw-text-opacity));
} 

@media (min-width: 640px){ 
  .row-687 { 
    flex-direction: row;
  } 

  .smjustify-1vn { 
    justify-content: space-between;
  } 

  .text-go8 { 
    font-size: .75rem; 
    line-height: 1rem;
  } 
}     

.mt-nct { 
    margin-top: 1rem;
} 

.text-4gq { 
    font-size: .875rem; 
    line-height: 1.25rem;
} 

.font-lt3 { 
    font-weight: 500;
} 

.top-\[0\.5px\] { 
    top: .5px;
} 

.mb-5gk { 
    margin-bottom: 4rem;
} 

.grid-vxp { 
    display: grid;
} 

.grid-vrb { 
    grid-template-columns: repeat(1,minmax(0,1fr));
} 

.gap-qt9 { 
    gap: 1rem;
} 

@media (min-width: 1024px){ 
  .grid-xt8 { 
    grid-template-columns: repeat(4,minmax(0,1fr));
  } 
}     

@media (min-width: 768px){ 
  .grid-7ho { 
    grid-template-columns: repeat(4,minmax(0,1fr));
  } 
}     

@media (min-width: 1024px){ 
  .lggap-34b { 
    gap: 2rem;
  } 
}     

.max-w-qqs { 
    max-width: 24rem;
} 

@media (min-width: 640px){ 
  .smgap-x-co7 { 
    -moz-column-gap: 0px; 
    column-gap: 0px;
  } 
}     

h1 { 
    font-size: inherit; 
    font-weight: inherit;
} 

h1 { 
    margin: 0;
} 

.mb-pmg { 
    margin-bottom: 2.5rem;
} 

.text-phe { 
    text-align: center;
} 

.font-5aj { 
    font-family: var(--font-editorial);
} 

.text-2vb { 
    font-size: 4.5rem; 
    line-height: 1;
} 

.font-77d { 
    font-weight: 200;
} 

p { 
    margin: 0;
} 

.mb-g17 { 
    margin-bottom: 1rem;
} 

.text-s97 { 
    font-size: 1.125rem; 
    line-height: 1.75rem;
} 

.max-w-ctv { 
    max-width: 32rem;
} 

.rounded-2lo { 
    border-radius: .75rem;
} 

.bg-gray-50\/50 { 
    background-color: #f9fafb80;
} 

.p-lnk { 
    padding: 1rem;
} 

.text-f6n { 
    text-wrap: pretty;
} 

.text-55i { 
    --tw-text-opacity: 1; 
    color: rgb(0 0 0 / var(--tw-text-opacity));
} 

.text-pdg { 
    --tw-text-opacity: 1; 
    color: rgb(107 114 128 / var(--tw-text-opacity));
} 

.space-y-9jo > :not([hidden]) ~ :not([hidden])  { 
    --tw-space-y-reverse: 0; 
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse))); 
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
} 

.me-4h4 { 
    margin-inline-end: 0px;
} 

a { 
    color: inherit; 
    text-decoration: inherit;
} 

.px-lfr { 
    padding-left: 1rem; 
    padding-right: 1rem;
} 

.py-qgq { 
    padding-top: .5rem; 
    padding-bottom: .5rem;
} 

@media (min-width: 640px){ 
  .smpx-wao { 
    padding-left: .5rem; 
    padding-right: .5rem;
  } 

  .smpy-ap8 { 
    padding-top: 0; 
    padding-bottom: 0;
  } 

  .text-ezm:hover { 
    --tw-text-opacity: 1; 
    color: hsl(var(--theme-text) / var(--tw-text-opacity));
  } 

  .sm-e9o:hover { 
    text-decoration-line: underline;
  } 
}     

.block-o3b { 
    display: inline-block;
} 

.rounded-o7q { 
    border-radius: .375rem;
} 

.p-5e4 { 
    padding: .5rem;
} 

.pt-\[0\.6rem\] { 
    padding-top: .6rem;
} 

.transition-nbj { 
    transition-property: all; 
    transition-timing-function: cubic-bezier(.4,0,.2,1); 
    transition-duration: .15s;
} 

.hoverbg-neutral-7kl:hover { 
    --tw-bg-opacity: 1; 
    background-color: rgb(245 245 245 / var(--tw-bg-opacity));
} 

.ease-in-ojn { 
    transition-timing-function: cubic-bezier(.4,0,.2,1);
} 

.gro-pyr\/product:hover .group-hover\/product\:opacity-75 { 
    opacity: .75;
} 

.right-8t2 { 
    right: .5rem;
} 

.top-27q { 
    top: .5rem;
} 

.z-y5c { 
    z-index: 10;
} 

.bg-o3a\/20 { 
    background-color: #fff3;
} 

.p-kfe { 
    padding: .25rem;
} 

.backdrop-blur-qy3 { 
    --tw-backdrop-blur: blur(4px); 
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia); 
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
} 

.duration-i7l { 
    transition-duration: .5s;
} 

[data-astro-transition-scope="astro-6svi5mpu-6"] { 
    view-transition-name: product-arrow-orange-soda-005;
} 

.gro-pyr\/product-thumb:hover .group-hover\/product-thumb\:bg-white\/60 { 
    background-color: #fff9;
} 

ul { 
    list-style: none; 
    margin: 0; 
    padding: 0;
} 

.grid-obv { 
    grid-template-columns: repeat(2,minmax(0,1fr));
} 

.gap-rtl { 
    gap: .5rem;
} 

[data-astro-transition-scope="astro-6svi5mpu-7"] { 
    view-transition-name: product-arrow-wine-country-trail-outfit-004;
} 

[data-astro-transition-scope="astro-6svi5mpu-8"] { 
    view-transition-name: product-arrow-dark-rave-outfit-003;
} 

[data-astro-transition-scope="astro-6svi5mpu-9"] { 
    view-transition-name: product-arrow-ivy-league-outfit-002;
} 

[data-astro-transition-scope="astro-6svi5mpu-10"] { 
    view-transition-name: product-arrow-80s-inspired-running-outfit-001;
} 

h3 { 
    font-size: inherit; 
    font-weight: inherit;
} 

h3 { 
    margin: 0;
} 

.mb-4aw { 
    margin-bottom: 0;
} 

.mr-vno { 
    margin-right: 1rem;
} 

.text-nay { 
    font-size: 1rem; 
    line-height: 1.5rem;
} 

.leading-g7l { 
    line-height: 1.25;
} 

[data-astro-transition-scope="astro-zp3lupbj-1"] { 
    view-transition-name: product-name-orange-soda-005;
} 

img { 
    display: block; 
    vertical-align: middle;
} 

img { 
    max-width: 100%; 
    height: auto;
} 

.opacity-xkp { 
    opacity: .4;
} 

.form-o5s { 
    will-change: transform;
} 

.gro-pyr\/product-thumb:hover .group-hover\/product-thumb\:rotate-45 { 
    --tw-rotate: 45deg; 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
} 

 .gro-pyr\/product-thumb:hover .group-hover\/product-thumb\:opacity-100 { 
    opacity: 1;
} 

.overflow-rig { 
    overflow: clip;
} 

.rounded-1oz { 
    border-radius: .5rem;
} 

.bor-h19 { 
    border-width: 1px;
} 

.border-black\/5 { 
    border-color: #0000000d;
} 

[data-astro-transition-scope="astro-zp3lupbj-2"] { 
    view-transition-name: product-name-wine-country-trail-outfit-004;
} 

.gro-pyr\/product-thumb:hover .group-hover\/product-thumb\:rotate-45, .gro-pyr:hover .group-hover\:rotate-45 { 
    --tw-rotate: 45deg; 
    transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
} 

.gro-pyr\/back-link:hover .group-hover\/back-link\:opacity-100, .gro-pyr\/product-thumb:hover .group-hover\/product-thumb\:opacity-100 { 
    opacity: 1;
} 

[data-astro-transition-scope="astro-zp3lupbj-3"] { 
    view-transition-name: product-name-dark-rave-outfit-003;
} 

[data-astro-transition-scope="astro-zp3lupbj-4"] { 
    view-transition-name: product-name-ivy-league-outfit-002;
} 

[data-astro-transition-scope="astro-zp3lupbj-5"] { 
    view-transition-name: product-name-80s-inspired-running-outfit-001;
} 

.inset-s28 { 
    inset: .5rem;
} 

.pointer-events-zo1 { 
    pointer-events: none;
} 

.z-xp6 { 
    z-index: 0;
} 

.object-vxc { 
    -o-object-fit: cover; 
    object-fit: cover;
} 

.line-clamp-13f { 
    overflow: hidden; 
    display: -webkit-box; 
    -webkit-box-orient: vertical; 
    -webkit-line-clamp: 1;
} 

.px-tx3 { 
    padding-left: .5rem; 
    padding-right: .5rem;
} 

.pb-0\.5 { 
    padding-bottom: .125rem;
} 

.label-m1w { 
    background-color: #0009; 
    -webkit-backdrop-filter: blur(4px); 
    backdrop-filter: blur(4px);
} 


/* These were inline style tags. Uses id+class to override almost everything */
#style-roInZ.style-roInZ {  
   display: flex;  
}  
#style-kwjWK.style-kwjWK {  
   perspective: 600px;  
    opacity: 1;  
    will-change: auto;  
}  
#style-ze3hP.style-ze3hP {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-hVVtE.style-hVVtE {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-b3ZWE.style-b3ZWE {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-1gkn8.style-1gkn8 {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-ew9of.style-ew9of {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-jq21C.style-jq21C {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-crXpJ.style-crXpJ {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-2l8gO.style-2l8gO {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-C6hc1.style-C6hc1 {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-fekcD.style-fekcD {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-LGKRR.style-LGKRR {  
   perspective: 600px;  
    opacity: 1;  
    will-change: auto;  
}  
#style-sXr6r.style-sXr6r {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-wMFhn.style-wMFhn {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-GGRbX.style-GGRbX {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-2KXfP.style-2KXfP {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-Qzaaa.style-Qzaaa {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-l9KLC.style-l9KLC {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-B5LbQ.style-B5LbQ {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-RClHj.style-RClHj {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-EtoWi.style-EtoWi {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-FSikm.style-FSikm {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-EkVrH.style-EkVrH {  
   perspective: 600px;  
    opacity: 1;  
    will-change: auto;  
}  
#style-opnJQ.style-opnJQ {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-Azr6w.style-Azr6w {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-c8llA.style-c8llA {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-yj1N8.style-yj1N8 {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-7w3hK.style-7w3hK {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-kVX7q.style-kVX7q {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-UZHlP.style-UZHlP {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-aZRFX.style-aZRFX {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-nLIkU.style-nLIkU {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-LlKpF.style-LlKpF {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-pdaGU.style-pdaGU {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-vyi3k.style-vyi3k {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-x2T73.style-x2T73 {  
   perspective: 600px;  
    opacity: 1;  
    will-change: auto;  
}  
#style-TS1HL.style-TS1HL {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-ylVsw.style-ylVsw {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-oapjO.style-oapjO {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-CTpEN.style-CTpEN {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-VwNm6.style-VwNm6 {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-rpIkB.style-rpIkB {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-nt9eo.style-nt9eo {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-kVRrr.style-kVRrr {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-7BZF9.style-7BZF9 {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-7ez28.style-7ez28 {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-7bVpY.style-7bVpY {  
   perspective: 600px;  
    opacity: 1;  
    will-change: auto;  
}  
#style-WzOHA.style-WzOHA {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-QizvZ.style-QizvZ {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-wTVbX.style-wTVbX {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-iPYnT.style-iPYnT {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-bo4Do.style-bo4Do {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-zzbbo.style-zzbbo {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-MWhlG.style-MWhlG {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-PRT5l.style-PRT5l {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-c9nka.style-c9nka {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-5yDlA.style-5yDlA {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-wOE2c.style-wOE2c {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-D7XMs.style-D7XMs {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-K3jGe.style-K3jGe {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-ZQa7t.style-ZQa7t {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-9oYHL.style-9oYHL {  
   top: 54px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-VwJVZ.style-VwJVZ {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-qTZKD.style-qTZKD {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-Q2IG3.style-Q2IG3 {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-WwXa1.style-WwXa1 {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-3JXbY.style-3JXbY {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-5Fxm5.style-5Fxm5 {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-1w1.style-BeHWX {  
   left: 1762px;  
    top: 0px;  
}  
/* These were inline style tags. Uses id+class to override almost everything */
#style-oAUBs.style-oAUBs {  
   display: flex;  
}  
#style-jUVmx.style-jUVmx {  
   perspective: 600px;  
    opacity: 1;  
    will-change: auto;  
}  
#style-Ys6yj.style-Ys6yj {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-6YrSQ.style-6YrSQ {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-2Oxp1.style-2Oxp1 {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-8ZSg2.style-8ZSg2 {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-arITD.style-arITD {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-CZm3W.style-CZm3W {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-L2VjN.style-L2VjN {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-cri6U.style-cri6U {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-koJVe.style-koJVe {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-pY5yc.style-pY5yc {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-gcgdU.style-gcgdU {  
   perspective: 600px;  
    opacity: 1;  
    will-change: auto;  
}  
#style-rID9R.style-rID9R {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-RBHgZ.style-RBHgZ {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-poo8K.style-poo8K {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-yJqlx.style-yJqlx {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-38nMb.style-38nMb {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-qpaeD.style-qpaeD {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-lxgGq.style-lxgGq {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-3LvDG.style-3LvDG {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-5Jd3i.style-5Jd3i {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-CqnmE.style-CqnmE {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-Pm2iE.style-Pm2iE {  
   perspective: 600px;  
    opacity: 1;  
    will-change: auto;  
}  
#style-KVBw5.style-KVBw5 {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-JRS98.style-JRS98 {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-nbLsQ.style-nbLsQ {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-NIwmw.style-NIwmw {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-x5OFw.style-x5OFw {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-MGvd7.style-MGvd7 {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-XUZ3E.style-XUZ3E {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-CIrzm.style-CIrzm {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-kiD1d.style-kiD1d {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-Rjktv.style-Rjktv {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-o8o52.style-o8o52 {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-Q25nM.style-Q25nM {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-Qi66n.style-Qi66n {  
   perspective: 600px;  
    opacity: 1;  
    will-change: auto;  
}  
#style-gvw3q.style-gvw3q {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-Yw2Bq.style-Yw2Bq {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-itD7s.style-itD7s {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-onZB5.style-onZB5 {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-7igqp.style-7igqp {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-SAL1o.style-SAL1o {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-DNEZv.style-DNEZv {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-Uo7Qg.style-Uo7Qg {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-HAZTS.style-HAZTS {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-34JB9.style-34JB9 {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-clpRf.style-clpRf {  
   perspective: 600px;  
    opacity: 1;  
    will-change: auto;  
}  
#style-qgRFB.style-qgRFB {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-N5gI5.style-N5gI5 {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-Z29qY.style-Z29qY {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-zjDSe.style-zjDSe {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-VWCpY.style-VWCpY {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-NoWRy.style-NoWRy {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-joTwB.style-joTwB {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-v9kin.style-v9kin {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-n5niK.style-n5niK {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-GCrt1.style-GCrt1 {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-LNfsy.style-LNfsy {  
   transform-origin: center center;  
    filter: blur(4px);  
    opacity: 0;  
    will-change: transform, filter, opacity;  
    transform: translateY(10px) scale(0.95);  
}  
#style-Fnakm.style-Fnakm {  
   filter: blur(0px);  
    will-change: filter;  
}  
#style-ri5XP.style-ri5XP {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-B4PJY.style-B4PJY {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-INAmR.style-INAmR {  
   top: 54px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-evY3I.style-evY3I {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-dgSLP.style-dgSLP {  
   top: -2px;  
    left: 0px;  
    height: 0px;  
    width: 0px;  
}  
#style-rtr4T.style-rtr4T {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-GM7Xf.style-GM7Xf {  
   top: -4px;  
    left: -4px;  
    height: 0px;  
    width: 0px;  
}  
#style-ebS2p.style-ebS2p {  
   top: -2px;  
    left: -2px;  
    height: 0px;  
    width: 0px;  
}  
#style-Yh41U.style-Yh41U {  
   top: 0px;  
    left: 0px;  
    position: absolute;  
}  
#sni-rrm.style-br3aZ {  
   left: 1762px;  
    top: 0px;  
}  
